<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - AI-SMM-MANAGER</title>
    <style>
        nav a {
            color: #000000;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }

        .wallet {
            padding: 20px;
            margin: 10px;
            background-color: #00a86b;
        }

        .task {
                margin-left: 50px;
                font-size: 20px;
        }


    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Выполненные задания</a>
        <a href="{{ url_for('create') }}">Выполнить задание</a>
        <a href="{{ url_for('vacancy') }}">Вакансия</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>