{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Добавить вашу работу {% endblock %}</h1>
    <form method="post">
        <p>
            <label for="wallet">Crypto кошелек</label>
            <input type="text" name="wallet"
                   placeholder="Публичный адрес">
            </input>
        </p>

        <p>
            <label for="task">Текст вашего выполненного задания</label>
            <input type="text" name="task"
                   placeholder="Напишите свой текст задания здесь (250 символов)" size="250">
            </input>
        </p>
        <p>
            <button type="submit">Отправить</button>
        </p>
    </form>
{% endblock %}